:root {
	/* Colors */
	--bgColor: #040609;
	--bgGradient: linear-gradient(180deg, var(--bgColor) 0%, #080b12 20%, #291427 75%, #3c1427 100%);
	--textColor: #fff;
	--altTextColor: #000;
	--projectBgColor: #252525;
	--selectionColor: rgba(255, 34, 17, .8);
	--heartColor: rgba(255, 34, 17, 1);
	--transparentBlack: rgba(0, 0, 0, .2);

	/* Shadows */
	--textShadow: .04em .04em .07em rgba(0, 0, 0, .5);
	--textShadowSmall: .02em .02em .05em rgba(0, 0, 0, .4);
	--boxShadow: .1em .1em .2em rgba(0, 0, 0, .2);
	--boxShadowDownHover: .1em calc(.1em - var(--wiggleAmount)) .2em rgba(0, 0, 0, .2);
	--boxShadowRightHover: calc(.1em - var(--wiggleAmount)) .1em .2em rgba(0, 0, 0, .2);

	/* Font Families */
	--headerFont: 'Montserrat', Impact, Helvetica, sans-serif;
	--defaultFont: 'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif;

	/* Font Sizes (text) */
	--fontScaleFactor: 2.75vh; /* For desktop browsers. Scale factor for mobile is set later */
	--headerFontSize: 2.2em;
	--projectTileHeaderFontSize: 1.3em;
	--defaultFontSize: .7em;
	--yoloFontSize: .4em;
	--iconLabelFontSize: .3em;

	/* Font Sizes (icons) */
	--defaultIconFontSize: 2em;
	--backIconFontSize: 1.4em;
	--fullScreenIconFontSize: 1.1em;

	/* Blur Radii */
	--imgBlurRadius: .25em;
	--projectImageBgBlurRadius: .15em;

	/* Margins & Paddings */
	--pageMargin: 8vw;
	--projectTypeTopPadding: .6em;
	--projectTypeHorizontalMargin: 2em;

	/* Transition Durations */
	--headerTransitionDuration: .5s;
	--projectTileTransitionDuration: .2s;
	--projectTileBgTransitionDuration: .4s;
	--iconLinkTransitionDuration: .1s;
	--backButtonTransitionDuration: .1s;
	--linkTransitionDuration: .1s;

	/* Other */
	--projectTileHeight: 40vh;
	--wiggleAmount: -.2em;
	--headerTransitionScale: 1.05;
}

::-moz-selection {
	background: var(--selectionColor);
}

::selection {
	background: var(--selectionColor);
}

@media screen and (prefers-reduced-motion: no-preference) {
	html, body {
		scroll-behavior: smooth;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html, body {
		scroll-behavior: auto;
	}
}

@media (min-width: 1024px) {
	.project-tile-container {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.three-odd-one > .project-tile-container > .project:last-child,
	.three-odd-one > .project-tile-container > .project:nth-last-child(4),
	.three-odd-two > .project-tile-container > .project:last-child {
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}

	.one > .project-tile-container > .project:last-child {
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}

	header, .full-height {
		height: 100vh;
	}
}

@media (min-width: 690px) and (max-width: 1024px) {
	.project-container {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.two-odd > .project-container > .project:last-child {
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}
}

@media (max-width: 690px) {
	.project-container {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}
}

/* For desktop browsers */
.icon-arrows-alt {
	visibility: hidden;
}

.project-type {
	font-size: var(--defaultFontSize);
}

/* For touch browsers */
@media (hover: none) {
	:root {
		--fontScaleFactor: 3vh;
	}

	.icon-arrows-alt {
		visibility: visible;
	}

	.project-type {
		font-size: inherit;
	}
}

html, body {
	margin: 0;
}

body {
	width: 100%;
	padding: 0;
	background: var(--bgColor);
	background: var(--bgGradient);
	color: var(--textColor);
	text-align: center;
	font-family: var(--defaultFont);
	font-weight: lighter;
	font-size: var(--fontScaleFactor);
	overflow-x: hidden;
}

.yolo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 1vh;
	font-size: var(--yoloFontSize);
}

/* Star background */
.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: -1;
}

.project-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	filter: blur(var(--projectImageBgBlurRadius));
}

.star {
  background-color: var(--textColor);
	position: relative;
}

header, .full-height {
	display: -webkit-box;
	display: flex;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	-webkit-box-pack: justify;
					justify-content: center;
}

footer {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
					flex-direction: row;
	-webkit-box-pack: justify;
					justify-content: space-between;
	bottom: 0;
	background: var(--transparentBlack);
	font-size: var(--defaultFontSize);
}

.full-height > footer {
	margin: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}

footer > * {
	padding: 1em 0;
	-webkit-box-flex: 1;
							flex: 1;
}

header > p, header > h1, footer > p, footer > h2, .full-height > * {
	margin-left: var(--pageMargin);
	margin-right: var(--pageMargin);
}

h1, section > h2, section > p {
	margin: 0 0 3vh 0;
}

header > h1:hover {
	-webkit-transform: scale(var(--headerTransitionScale));
					transform: scale(var(--headerTransitionScale));
}

h1, h2 {
	font-family: var(--headerFont);
	text-shadow: var(--textShadow);
}

h1 {
	font-size: var(--headerFontSize);
	-webkit-transition: -webkit-transform var(--headerTransitionDuration);
					transition: -webkit-transform var(--headerTransitionDuration);
					transition: transform var(--headerTransitionDuration);
					transition: transform var(--headerTransitionDuration), -webkit-transform var(--headerTransitionDuration);
	cursor: default;
}

h2 {
	margin: 0;
	padding: 1em;
}

h4 {
	font-family: var(--defaultFont);
	font-size: var(--projectTileHeaderFontSize);
	font-weight: lighter;
	text-shadow: var(--textShadow);
}

p {
	margin: 0;
	font-size: var(--defaultFontSize);
	text-shadow: var(--textShadowSmall);
}

.email:after {
	content: attr(data-name) '@' attr(data-domain);
}

a:link {
	color: var(--textColor);
	text-decoration: none;
}

p > a:link, footer > a:link {
	transition: opacity var(--linkTransitionDuration);
}

p > a:link {
	border-bottom: 1px solid var(--textColor);
}

p > a:hover, footer > a:hover {
	opacity: .7;
}

p > a:active, footer > a:active {
	opacity: 1;
}

a:visited {
	color: var(--text-color);
}

nav > a:link {
	display: inline-block;
	margin: .2em;
	text-shadow: var(--boxShadow);
	-webkit-transition: text-shadow var(--iconLinkTransitionDuration), -webkit-transform var(--iconLinkTransitionDuration);
					transition: text-shadow var(--iconLinkTransitionDuration), -webkit-transform var(--iconLinkTransitionDuration);
					transition: transform var(--iconLinkTransitionDuration), text-shadow var(--iconLinkTransitionDuration);
					transition: transform var(--iconLinkTransitionDuration), text-shadow var(--iconLinkTransitionDuration), -webkit-transform var(--iconLinkTransitionDuration);
}

nav > a:hover {
	text-shadow: var(--boxShadowDownHover), inset var(--boxShadowDownHover);
	text-shadow: var(--boxShadowDownHover);
	-webkit-transform: translateY(var(--wiggleAmount));
					transform: translateY(var(--wiggleAmount));
	opacity: 1;
}

nav > a:active {
	opacity: .8;
}

.project-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	justify-content: space-around;
	margin: 0;
	padding: 0 var(--pageMargin);
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.project {
	background-color: var(--projectBgColor);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	cursor: pointer;
}

.project:hover {
	opacity: 1;
}

.project-tile-container {
	display: -ms-grid;
	display: grid;
}

.project-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > .project-header {
	position: absolute;
	width: 100%;
	top: 0;
	justify-content: space-between;
}

header > .project-header > .project-type {
	font-size: inherit;
	padding: calc(var(--projectTypeTopPadding) * 2);
}

.project-type {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: var(--projectTypeTopPadding);
	font-style: italic;
	border-radius: 0 0 0 var(--projectTypeTopPadding);
}

.project > div {
	height: 100%;
	-webkit-transition: background var(--projectTileBgTransitionDuration);
					transition: background var(--projectTileBgTransitionDuration);
	background: var(--transparentBlack);
}

.project-text > h4, .project-text > a {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	-webkit-box-pack: center;
					justify-content: center;
	text-align: center;
}

.project-text > h4 {
	height: var(--projectTileHeight);
	margin: calc(var(--projectTypeTopPadding) * -2) var(--projectTypeHorizontalMargin) 0 var(--projectTypeHorizontalMargin);
}

.project-text > a {
	height: 0;
	padding: 0 var(--projectTypeHorizontalMargin);
	-webkit-box-flex: 1;
							flex: 1;
	opacity: 0;
	overflow-y: hidden;
}

.project > a > p {
	padding-top: var(--projectTypeTopPadding);
}

.project:hover > div > .project-text > h4 {
	height: 0;
	opacity: 0;
}

.project:hover > div > .project-text > a {
	height: var(--projectTileHeight);
	opacity: 1;
}

.project:hover > div > .project-header > .icon-arrows-alt {
	opacity: 1;
}

.project > div > .project-text > h4,
.project:hover > div > .project-text > a,
.project > div > .project-header > .icon-arrows-alt {
	-webkit-transition: height 0s var(--projectTileTransitionDuration) step-end,
											opacity var(--projectTileTransitionDuration) var(--projectTileTransitionDuration) ease-in;
					transition: height 0s var(--projectTileTransitionDuration) step-end,
											opacity var(--projectTileTransitionDuration) var(--projectTileTransitionDuration) ease-in;
}

.project:hover > div > .project-text > h4,
.project > div > .project-text > a,
.project > div > .project-header > .icon-arrows-alt {
	-webkit-transition: opacity var(--projectTileTransitionDuration) 0s ease-out,
											height 0s var(--projectTileTransitionDuration) step-end;
					transition: opacity var(--projectTileTransitionDuration) 0s ease-out,
											height 0s var(--projectTileTransitionDuration) step-end;
}

/* Colors for different project types */
.web, .web-h:hover, .web-h > div > a,
.python, .python-h:hover, .python-h > div > a,
.c, .c-h:hover, .c-h > div > a,
.node, .node-h:hover, .node-h > div > a,
.blender, .blender-h:hover, .blender-h > div > a,
.unknown, .unknown-h:hover, .unknown-h > div > a {
	color: var(--textColor);
}

.extension, .extension-h:hover, .extension-h > div > a {
	color: var(--altTextColor);
}

.web, .web-h:hover {
	background: rgba(255, 152, 0, .75);
}

.extension, .extension-h:hover {
	background: rgba(255, 235, 59, .75);
}

.python, .python-h:hover {
	background: rgba(63, 81, 181, .75);
}

.c, .c-h:hover {
	background: rgba(244, 67, 54, .75);
}

.java, .java-h:hover {
	background: rgba(255, 87, 34, .75);
}

.node, .node-h:hover {
	background: rgba(76, 175, 80, .75);
}

.blender, .blender-h:hover {
	background: rgba(156, 39, 176, .5);
}

.unknown, .unknown-h:hover {
	background: rgba(51, 51, 51, .5);
}

/* IcoMoon icon font styles */
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?p1634e');
  src:  url('/fonts/icomoon.eot?p1634e#iefix') format('embedded-opentype'),
				url('/fonts/icomoon.ttf?p1634e') format('truetype'),
				url('/fonts/icomoon.woff?p1634e') format('woff'),
				url('/fonts/icomoon.svg?p1634e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
	line-height: 1;
	font-size: var(--defaultIconFontSize);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icon Links */
nav > [class^="icon"]:after, nav > [class*=" icon"]:after {
	display: block;
	margin-top: 1em;
	padding: .5em;
	font-family: var(--defaultFont);
	font-size: var(--iconLabelFontSize);
	font-weight: lighter;
	text-shadow: var(--textShadow);
	background: var(--transparentBlack);
	border-radius: 1em;
}
.icon-globe:before {
  content: "\e900";
}
.icon-chrome:before {
  content: "\e901";
}
.icon-edge:before {
  content: "\e902";
}
.icon-firefox:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-github-square:before {
  content: "\e907";
}
.icon-linkedin-square:before {
  content: "\e909";
}
.icon-instagram:after {
	content: "Instagram";
}
.icon-github-square:after {
	content: "Github";
}
.icon-linkedin-square:after {
	content: "LinkedIn";
}
.icon-globe:after {
  content: "Visit";
}
.icon-chrome:after {
  content: "Chrome Web Store";
}
.icon-edge:after {
  content: "Edge Add-ons";
}
.icon-firefox:after {
  content: "Firefox Add-ons";
}

/* Other Icons */
.icon-heart {
	font-size: inherit;
	color: var(--heartColor);
}
.icon-heart:before {
  content: "\e908";
}
.icon-arrows-alt {
	left: 0;
	bottom: 0;
	font-size: var(--fullScreenIconFontSize);
	padding-left: var(--projectTypeTopPadding);
	opacity: 0;
}
.icon-arrows-alt:before {
  content: "\e904";
}
.icon-arrow-left {
	padding: 0 0 0 calc(var(--projectTypeTopPadding) - var(--wiggleAmount));
	font-size: var(--backIconFontSize);
	text-shadow: var(--boxShadow);
	-webkit-transition: text-shadow var(--backButtonTransitionDuration), -webkit-transform var(--backButtonTransitionDuration);
					transition: text-shadow var(--backButtonTransitionDuration), -webkit-transform var(--backButtonTransitionDuration);
					transition: transform var(--backButtonTransitionDuration), text-shadow var(--backButtonTransitionDuration);
					transition: transform var(--backButtonTransitionDuration), text-shadow var(--backButtonTransitionDuration), -webkit-transform var(--backButtonTransitionDuration);
}
.icon-arrow-left:hover {
	text-shadow: var(--boxShadowRightHover);
	-webkit-transform: translateX(var(--wiggleAmount));
					transform: translateX(var(--wiggleAmount));
}
.icon-arrow-left:before {
  content: "\e906";
}
