:root {
	/* Colors */
	--bgColor: #040609;
	--textColor: #fff;
	--altTextColor: #000;
	--projectBgColor: #252525;
	--selectionColor: rgba(255,34,17,.8);
	--heartColor: rgba(255,34,17,1);
	--partialTransparency: rgba(0, 0, 0, .2);

	/* Shadows */
	--textShadow: .04em .04em .07em rgba(0,0,0,.5);
	--textShadow2: .02em .02em .05em rgba(0,0,0,.4);
	--boxShadow: .1em .1em .2em rgba(0,0,0,.3);
	--boxShadow2: .1em .1em .2em rgba(0,0,0,.1);
	--boxShadow2Hover: .1em calc(.1em + var(--wiggle-amount-down)) .2em rgba(0,0,0,.1);

	/* Font Families */
	--headerFont: 'Montserrat', Impact, Helvetica, sans-serif;
	--defaultFont: 'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif;

	/* Font Sizes */
	--fontScaleFactor: 2.75vh; /* For desktop browsers. Scale factor for mobile is set later */
	--headerFontSize: 2.2em;
	--iconFontSize: 1.7em;
	--fontSize: .7em;
	--smallFontSize: .4em;
	--extraSmallFontSize: .3em;

	/* Other */
	--imgBlurRadius: .25em;
	--downButtonSize: 6vh;
	--pageMargin: 8vw;
	--wiggleAmountUp: -.2em;
	--wiggleAmountDown: .1em;
	--projectTypePadding: .6em;
}

::-moz-selection {
	background: var(--selectionColor);
}

::selection {
	background: var(--selectionColor);
}

@media screen and (prefers-reduced-motion: no-preference) {
	html, body {
		scroll-behavior: smooth;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html, body {
		scroll-behavior: auto;
	}
}

@media (min-width: 1024px) {
	.project-tile-container {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.three-odd-one > .project-tile-container > .project:last-child,
	.three-odd-one > .project-tile-container > .project:nth-last-child(4),
	.three-odd-two > .project-tile-container > .project:last-child {
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}

	.one > .project-tile-container > .project:last-child {
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}

	header, .full-height {
		height: 100vh;
	}
}

@media (min-width: 690px) and (max-width: 1024px) {
	.project-container {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.two-odd > .project-container > .project:last-child {
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}
}

@media (max-width: 690px) {
	.project-container {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}
}

/* For desktop browsers */
.icon-arrows-alt {
	visibility: hidden;
}

.project-type {
	font-size: var(--fontSize);
}

/* For touch browsers */
@media (hover: none) {
	:root {
		--fontScaleFactor: 3vh;
	}

	.icon-arrows-alt {
		visibility: visible;
	}

	.project-type {
		font-size: inherit;
	}
}

html, body {
	margin: 0;
}

body {
	width: 100%;
	padding: 0;
	background: var(--bgColor);
	background: linear-gradient(180deg, var(--bgColor) 0%, #080b12 20%, #291427 75%, #3c1427 100%);
	color: var(--textColor);
	text-align: center;
	font-family: var(--defaultFont);
	font-weight: lighter;
	font-size: var(--fontScaleFactor);
	overflow-x: hidden;
}

.yolo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 1vh;
	font-size: var(--smallFontSize);
}

/* Star background */
.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: -1;
}

.project-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	filter: blur(3px);
}

.star {
  background-color: #fff;
	position: relative;
}

header, .full-height {
	display: -webkit-box;
	display: flex;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	-webkit-box-pack: justify;
					justify-content: center;
}

footer {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
					flex-direction: row;
	-webkit-box-pack: justify;
					justify-content: space-between;
	bottom: 0;
	background: var(--partialTransparency);
	font-size: var(--fontSize);
}

.full-height > footer {
	margin: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}

footer > * {
	padding: 1em 0;
	-webkit-box-flex: 1;
							flex: 1;
}

header > p, header > h1, footer > p, footer > h2, .full-height > * {
	margin-left: var(--pageMargin);
	margin-right: var(--pageMargin);
}

h1, section > h2, section > p {
	margin: 0 0 3vh 0;
}

header > h1 {
	/* margin-top: calc(var(--projectTypePadding) * -1); */
}

header > h1:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

h1, h2 {
	font-family: var(--headerFont);
	text-shadow: var(--textShadow);
}

h1 {
	font-size: var(--headerFontSize);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	cursor: default;
}

h2 {
	margin: 0;
	padding: 1em;
}

h4 {
	font-family: var(--defaultFont);
	font-size: 1.3em;
	font-weight: lighter;
	text-shadow: var(--textShadow);
}

p {
	margin: 0;
	font-size: var(--fontSize);
	text-shadow: var(--textShadow2);
}

.email:after {
	content: attr(data-name) '@' attr(data-domain);
}

p > a:link {
	border-bottom: 1px solid var(--textColor);
}

a:link {
	color: var(--textColor);
	text-decoration: none;
	transition: opacity .1s;
}

a:hover {
	opacity: .7;
}

a:active {
	opacity: 1;
}

a:visited {
	color: var(--text-color);
}

nav > a:link {
	display: inline-block;
	margin: .2em;
	font-size: var(--iconFontSize);
	font-weight: bolder;
	text-shadow: var(--boxShadow2);
	-webkit-transition: text-shadow .1s, -webkit-transform .1s;
	transition: text-shadow .1s, -webkit-transform .1s;
	transition: transform .1s, text-shadow .1s;
	transition: transform .1s, text-shadow .1s, -webkit-transform .1s;
}

nav > a:hover {
	opacity: 1;
	-webkit-transform: translateY(var(--wiggleAmountUp));
					transform: translateY(var(--wiggleAmountUp));
	text-shadow: var(--boxShadow2Hover), inset var(--boxShadow2Hover);
	text-shadow: var(--boxShadow2Hover);
}

nav > a:active {
	opacity: .9;
}

.project-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	justify-content: space-around;
	margin: 0;
	padding: 0 8vw;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.project {
	background-color: var(--projectBgColor);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	cursor: pointer;
}

.project:hover {
	opacity: 1;
}

.project-tile-container {
	display: -ms-grid;
	display: grid;
}

.project-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > .project-header {
	position: absolute;
	top: 0;
	justify-content: space-between;
	width: 100%;
}

header > .project-header > .project-type {
	font-size: inherit;
	padding: calc(var(--projectTypePadding) * 2);
}

.project-type {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: var(--projectTypePadding);
	font-style: italic;
	border-radius: 0 0 0 .5em;
}

.project > div {
	height: 100%;
	-webkit-transition: background .5s;
	transition: background .5s;
	background: var(--partialTransparency);
}

h4, .project-text > a {
	height: 40vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	-webkit-box-pack: center;
					justify-content: center;
	text-align: center;
}

.project-text > h4 {
	margin: calc(var(--projectTypePadding) * -3) 2em 0 2em;
}

.project-text > a {
	height: 0;
	padding: 0 2em;
	-webkit-box-flex: 1;
					flex: 1;
	opacity: 0;
	overflow-y: hidden;
}

.project > a > p {
	padding-top: var(--projectTypePadding);
}

.project:hover > div > .project-text > h4 {
	height: 0;
	opacity: 0;
	-webkit-transition: opacity .25s 0s ease-out, height 0s .25s step-end;
	transition: opacity .25s 0s ease-out, height 0s .25s step-end;
}

.project:hover > div > .project-text > a {
	height: 40vh;
	opacity: 1;
	-webkit-transition: height 0s .25s step-end, opacity .25s .25s ease-in;
	transition: height 0s .25s step-end, opacity .25s .25s ease-in;
}

.project:hover > div > .project-header > .icon-arrows-alt {
	opacity: 1;
	-webkit-transition: height 0s .25s step-end, opacity .25s .25s ease-in;
	transition: height 0s .25s step-end, opacity .25s .25s ease-in;
}

/* Colors for different project types */
.web, .web-h:hover, .web-h > div > a,
.python, .python-h:hover, .python-h > div > a,
.c, .c-h:hover, .c-h > div > a,
.node, .node-h:hover, .node-h > div > a,
.blender, .blender-h:hover, .blender-h > div > a,
.unknown, .unknown-h:hover, .unknown-h > div > a {
	color: var(--textColor);
}

.extension, .extension-h:hover, .extension-h > div > a {
	color: var(--altTextColor);
}

.web, .web-h:hover {
	background: rgba(255, 152, 0, .75);
}

.extension, .extension-h:hover {
	background: rgba(255, 235, 59, .75);
}

.python, .python-h:hover {
	background: rgba(63, 81, 181, .75);
}

.c, .c-h:hover {
	background: rgba(244, 67, 54, .75);
}

.java, .java-h:hover {
	background: rgba(255, 87, 34, .75);
}

.node, .node-h:hover {
	background: rgba(76, 175, 80, .75);
}

.blender, .blender-h:hover {
	background: rgba(156, 39, 176, .5);
}

.unknown, .unknown-h:hover {
	background: rgba(51, 51, 51, .5);
}



/* IcoMoon icon font styles */
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?p1634e');
  src:  url('/fonts/icomoon.eot?p1634e#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?p1634e') format('truetype'),
    url('/fonts/icomoon.woff?p1634e') format('woff'),
    url('/fonts/icomoon.svg?p1634e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
	line-height: 1;
	font-size: 2em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-heart {
	font-size: inherit;
	color: var(--heartColor);
}
.icon-heart:before {
  content: "\e908";
}
.icon-arrows-alt {
	left: 0;
	bottom: 0;
	font-size: 1.1em;
	padding-left: var(--projectTypePadding);
	opacity: 0;
}
.icon-arrows-alt:before {
  content: "\e904";
}
.icon-globe:before {
  content: "\e900";
}
.icon-chrome:before {
  content: "\e901";
}
.icon-edge:before {
  content: "\e902";
}
.icon-firefox:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-arrow-left.back-button {
	padding: 0 0 0 .8em;
	font-size: 1.4em;
	text-shadow: var(--boxShadow2);
	-webkit-transition: textShadow .1s, -webkit-transform .1s;
	transition: textShadow .1s, -webkit-transform .1s;
	transition: transform .1s, textShadow .1s;
	transition: transform .1s, textShadow .1s, -webkit-transform .1s;
}
.icon-arrow-left.back-button:hover {
	opacity: 1;
	-webkit-transform: translateX(var(--wiggleAmountUp));
					transform: translateX(var(--wiggleAmountUp));
	text-shadow: var(--boxShadow2Hover), inset var(--boxShadow2Hover);
	text-shadow: var(--boxShadow2Hover);
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-github-square:before {
  content: "\e907";
}
.icon-linkedin-square:before {
  content: "\e909";
}

.icon-instagram:after,
.icon-github-square:after,
.icon-linkedin-square:after,
.icon-globe:after,
.icon-chrome:after,
.icon-edge:after,
.icon-firefox:after {
	display: block;
	margin-top: 1em;
	padding: .5em;
	font-family: var(--defaultFont);
	font-size: var(--extraSmallFontSize);
	font-weight: lighter;
	text-shadow: var(--textShadow);
	background: var(--partialTransparency);
	border-radius: 1em;
}
.icon-instagram:after {
	content: "Instagram";
}
.icon-github-square:after {
	content: "Github";
}
.icon-linkedin-square:after {
	content: "LinkedIn";
}
.icon-globe:after {
  content: "Visit";
}
.icon-chrome:after {
  content: "Chrome Web Store";
}
.icon-edge:after {
  content: "Edge Add-ons";
}
.icon-firefox:after {
  content: "Firefox Add-ons";
}
