:root {
	--bg-color: #040609;
	--text-color: #fff;
	--alt-text-color: #000;
	--project-bg-color: #252525;
	--selection-color: rgba(255, 34, 17, 0.8);
	--heart-color: rgba(255, 34, 17, 1);
	--text-shadow: .04em .04em .07em rgba(0,0,0,.5);
	--text-shadow2: .02em .02em .05em rgba(0,0,0,.4);
	--box-shadow: .1em .1em .2em rgba(0,0,0,.3);
	--box-shadow2: .1em .1em .2em rgba(0,0,0,.1);
	--box-shadow2-hover: .1em calc(.1em + var(--wiggle-amount-down)) .2em rgba(0,0,0,.1);
	--img-blur-radius: .25em;
	--down-button-size: 6vh;
	--page-margin: 8vw;
	--header-font-size: 2.3em;
	--icon-font-size: 1.7em;
	--font-size: .68em;
	--small-font-size: .4em;
	--wiggle-amount-up: -.2em;
	--wiggle-amount-down: .1em;
}

::-moz-selection {
	background: var(--selection-color);
}

::selection {
	background: var(--selection-color);
}

@media screen and (prefers-reduced-motion: no-preference) {
	html, body {
		scroll-behavior: smooth;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html, body {
		scroll-behavior: auto;
	}
}

@media (min-width: 1024px) {
	.project-tile-container {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.three-odd-one > .project-tile-container > .project:last-child,
	.three-odd-one > .project-tile-container > .project:nth-last-child(4),
	.three-odd-two > .project-tile-container > .project:last-child {
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}

	.one > .project-tile-container > .project:last-child {
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}

	header, .full-height {
		height: 100vh;
	}
}

@media (min-width: 690px) and (max-width: 1024px) {
	.project-container {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.two-odd > .project-container > .project:last-child {
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}

	header, .full-height {
		height: 100vh;
	}
}

@media (max-width: 690px) {
	.project-container {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}

	header, .full-height {
		/* height: -moz-available;
		height: -webkit-fill-available;
		height: fill-available; */
		height: 100vh;
	}
}

html, body {
	margin: 0;
}

body {
	width: 100%;
	padding: 0;
	background: var(--bg-color);
	background: linear-gradient(180deg, var(--bg-color) 0%, #080b12 20%, #291427 75%, #3c1427 100%);
	color: var(--text-color);
	text-align: center;
	font-family: 'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif;
	font-weight: lighter;
	font-size: 3vh;
	overflow-x: hidden;
}

.yolo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 1vh;
	font-size: var(--small-font-size);
}

/* Star background */
.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: -1;
}

.project-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	filter: blur(3px);
}

.star {
  background-color: #fff;
	position: relative;
}

header, .full-height {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	-webkit-box-pack: justify;
					justify-content: center;
}

footer {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
					flex-direction: row;
	-webkit-box-pack: justify;
					justify-content: space-between;
	bottom: 0;
	font-size: var(--font-size);
	background: rgba(0,0,0,.4);
}

.full-height > footer {
	margin: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}

footer > * {
	padding: 1em 0;
	-webkit-box-flex: 1;
							flex: 1;
}

header > p, header > h1, footer > p, footer > h2, .full-height > * {
	margin-left: var(--page-margin);
	margin-right: var(--page-margin);
}

h1, section > h2, section > p {
	margin: 0 0 3vh 0;
}

header > h1:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

h1, h2 {
	font-family: 'Montserrat', Impact, Helvetica, sans-serif;
	text-shadow: var(--text-shadow);
}

h1 {
	font-size: var(--header-font-size);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	cursor: default;
}

h2 {
	margin: 0;
	padding: 1em;
}

h4 {
	font-family: 'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif;
	font-size: 1.3em;
	font-weight: lighter;
	text-shadow: var(--text-shadow);
}

p {
	font-size: var(--font-size);
	text-shadow: var(--text-shadow2);
}

.email:after {
	content: attr(data-name) '@' attr(data-domain);
}

p > a:link {
	border-bottom: 1px solid var(--text-color);
}

a:link {
	color: var(--text-color);
	text-decoration: none;
	transition: opacity .1s;
}

a:hover {
	opacity: .7;
}

a:active {
	opacity: 1;
}

a:visited {
	color: var(--text-color);
}

nav > a:link {
	display: inline-block;
	margin: .2em;
	font-size: var(--icon-font-size);
	font-weight: bolder;
	text-shadow: var(--box-shadow2);
	-webkit-transition: text-shadow .1s, -webkit-transform .1s;
	transition: text-shadow .1s, -webkit-transform .1s;
	transition: transform .1s, text-shadow .1s;
	transition: transform .1s, text-shadow .1s, -webkit-transform .1s;
}

nav > a:hover {
	opacity: 1;
	-webkit-transform: translateY(var(--wiggle-amount-up));
					transform: translateY(var(--wiggle-amount-up));
	text-shadow: var(--box-shadow2-hover), inset var(--box-shadow2-hover);
	text-shadow: var(--box-shadow2-hover);
}

nav > a:active {
	opacity: .9;
}

.project-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	justify-content: space-around;
	margin: 0;
	padding: 0 8vw;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.project {
	background-color: var(--project-bg-color);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
}

.project-tile-container {
	display: -ms-grid;
	display: grid;
}

.project:hover {
	opacity: 1;
}

header > .project-type {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1em;
	padding: 1.3em;
}

.project-type {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: .4em;
	font-size: .7em;
	font-style: italic;
	border-radius: 0 0 0 .5em;
  margin-left: auto;
}

.project > div {
	height: 100%;
	-webkit-transition: background .5s;
	transition: background .5s;
	background: rgba(0,0,0,.2);
}

h4, .project-text > p {
	height: 40vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
					flex-direction: column;
	-webkit-box-pack: center;
					justify-content: center;
	margin: 0;
	text-align: center;
}

.project-text {
	margin: 0 2em;
}

.project-text > p {
	height: 0;
	-webkit-box-flex: 1;
					flex: 1;
	opacity: 0;
	overflow-y: hidden;
}

.project:hover > div > .project-text > h4 {
	height: 0;
	opacity: 0;
	-webkit-transition: opacity .25s 0s ease-out, height 0s .25s step-end;
	transition: opacity .25s 0s ease-out, height 0s .25s step-end;
}

.project:hover > div > .project-text > p {
	height: 40vh;
	opacity: 1;
	-webkit-transition: height 0s .25s step-end, opacity .25s .25s ease-in;
	transition: height 0s .25s step-end, opacity .25s .25s ease-in;
}

/* Colors for different project types */
.web, .web-h:hover {
	background: rgba(255, 152, 0, .75);
	color: var(--text-color);
}

.extension, .extension-h:hover {
	background: rgba(255, 235, 59, .75);
	color: var(--alt-text-color);
}

.python, .python-h:hover {
	background: rgba(63, 81, 181, .75);
	color: var(--text-color);
}

.c, .c-h:hover {
	background: rgba(244, 67, 54, .75);
	color: var(--text-color);
}

.node, .node-h:hover {
	background: rgba(76, 175, 80, .75);
	color: var(--text-color);
}

.blender, .blender-h:hover {
	background: rgba(156, 39, 176, .5);
	color: var(--text-color);
}

.unknown, .unknown-h:hover {
	background: rgba(51, 51, 51, .5);
	color: var(--text-color);
}



/* IcoMoon icon font styles */
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?ybig1w');
  src:  url('/fonts/icomoon.eot?ybig1w#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?ybig1w') format('truetype'),
    url('/fonts/icomoon.woff?ybig1w') format('woff'),
    url('/fonts/icomoon.svg?ybig1w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
	line-height: 1;
	font-size: 2em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign-in:before {
  content: "\e90a";
}
.icon-heart {
	font-size: inherit;
	color: var(--heart-color);
}
.icon-heart:before {
  content: "\e908";
}
.icon-eye:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-remove:before {
  content: "\e911";
}
.icon-times:before {
  content: "\e911";
}
.icon-sign-out:before {
  content: "\e912";
}
.icon-globe:before {
  content: "\e900";
}
.icon-chrome:before {
  content: "\e901";
}
.icon-edge:before {
  content: "\e902";
}
.icon-firefox:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-arrow-left.back-button {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;
	padding: .8em;
	font-size: 1.4em;
	text-shadow: var(--box-shadow2);
	-webkit-transition: text-shadow .1s, -webkit-transform .1s;
	transition: text-shadow .1s, -webkit-transform .1s;
	transition: transform .1s, text-shadow .1s;
	transition: transform .1s, text-shadow .1s, -webkit-transform .1s;
}
.icon-arrow-left.back-button:hover {
	opacity: 1;
	-webkit-transform: translateX(var(--wiggle-amount-up));
					transform: translateX(var(--wiggle-amount-up));
	text-shadow: var(--box-shadow2-hover), inset var(--box-shadow2-hover);
	text-shadow: var(--box-shadow2-hover);
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-github-square:before {
  content: "\e907";
}
.icon-linkedin-square:before {
  content: "\e909";
}
