---
layout: scrolling_page
title: Portfolio
instagram_link: https://www.instagram.com/jerboa88/
linkedin_link: https://www.linkedin.com/in/johngoodliff/
github_link: https://github.com/jerboa88
---

<header>
	<p class="yolo">Space is cool, but cats are cooler (sorry Elon)</p>
	<h1>John Goodliff</h1>
	<p>Software Developer & Student</p>
</header>

<section id="about" class="full-height">
	<h2>About</h2>

	<p>I am a passionate Computing Science student working towards my Bachelors Specialization at the University of Alberta. I am currently completing my internship at Haemonetics Corporation in Edmonton, where I am putting my expertise to use on their NexLynk Donor Management System. Some of my interests include cats, cars, music, and of course, anything technology-related :)
	</p>
</section>

{% assign num_elems_hidden = site.projects | where: 'hidden', true | size %}
{% assign num_elems = site.projects | size | minus: num_elems_hidden %}

<section id="projects" class="{% if num_elems == 1 %}one {% endif %}{% assign value = num_elems | modulo: 2 %}{% unless value == 0 %}two-odd {% endunless %}{% assign value = num_elems | modulo: 3 %}{% if value == 1 %}three-odd-one{% elsif value == 2 %}three-odd-two{% endif %}">
	<h2>My Projects</h2>
	<div class="project-tile-container">
		{% assign projects = site.projects | sort: 'importance' %}
		{% for project in projects %}
			{% if project.importance %}
				{% include project_tile.html %}
			{% endif %}
		{% endfor %}
		{% for project in projects %}
			{% unless project.importance %}
				{% include project_tile.html %}
			{% endunless %}
		{% endfor %}
	</div>
</section>

<section id="work" class="full-height">
	<h2>My Work</h2>

	<p>
		I am interested in a wide variety of compute related topics including programming, design, audio production, and whatever else is currently piquing my curiosity. In terms of experience, I am well-rounded, with experience with frontend web technologies, backend development, cloud computing, and low level programming like Arduino and MIPS assembly.
	</p>
	<p>
		I have gained programming and theoretical knowledge from school and developed soft skills from my previous jobs, but I have also learned a lot from the various personal projects I have completed over the years. Being a creative individual with strong problem solving skills, I have never been scared of writing my own software to fix problems I face, or to make life more convenient. This has not only taught me new languages and technologies, but it has taught me important concepts from the open source community like documentation, continuous maintenance, and proper use of source control. I have put some of my favorite projects above to showcase this.
	</p>
	<p>
		I am blessed to have a position at Haemonetics Corporation at this time, but if you have any questions or think I could be a help to your team, feel free to contact me on social media or via my email address below.
	</p>
</section>

<section id="credits" class="full-height">
	<h2>Credits</h2>

	<p>Thanks to everyone who has helped me reach the stars, as well as the following groups for making this site possible: <a rel="external" href="https://fontawesome.com/start">Font Awesome</a>, <a rel="external" href="https://icomoon.io/">Icomoon</a>, <a rel="external" href="https://pages.github.com/">Github Pages</a>, and <a rel="external" href="https://fonts.google.com/specimen/Montserrat#about">the makers of Montserrat</a>. This project is licensed under the <a rel="license" href="LICENSE.md">MIT License</a>.</p>

	<p>Handmade with <i class="icon-heart"></i> by John Goodliff. Feel free to shoot me a message at <a href="#" class="email" data-name="hello" data-domain="johng.io" onclick="window.location.assign('mailto:' + this.getAttribute('data-name') + '@' + this.getAttribute('data-domain'))"></a> or contact me on social media if you wish to say hi!</p>

	{% include link_buttons.html %}
</section>

{% include footer.html %}

<script src="/js/script.js"></script>
