::-moz-selection {
	background: #fff;
}

::selection {
	background: #fff;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0 1em;
	background: #317b71;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif;
	font-weight: lighter;
	font-size: 3vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: default;
	overflow: hidden;
}

h1 {
	font-family: 'Montserrat';
	text-shadow: .05em .05em .1em rgba(0,0,0,.5);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

h1:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

p {
	font-size: .8em;
	text-shadow: .04em .04em .07em rgba(0,0,0,.5);
}

b {
	font-weight: 400;
}

header, footer {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: .7em;
}

footer {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

header > a:link, footer > a:link {
	width: 20%;
	max-width: 10em;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	padding: 1em;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:hover {
	opacity: .7;
}

a:active {
	opacity: 1;
}

a:visited {
	color: #fff;
}

strong {
	font-size: 1.3em;
	color: #ff2211;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

strong:hover {
	color: #111;
}

section {
	position: fixed;
	top: -100%;
	left: 10%;
	right: 10%;
	height: 60%;
	padding: 1.2em;
	background: #fff;
	border-radius: .8em;
	-webkit-box-shadow: .05em .05em .1em rgba(0,0,0,.5);
	box-shadow: .05em .05em .1em rgba(0,0,0,.5);
	-webkit-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
}

.open {
	top: 15%;
}

h2, section > p, section > a {
	color: #111;
	text-shadow: none;
}

section a:link, section a:visited {
	border-bottom: 1px solid #317b71;
	color: #317b71;
}

i {
	display: inline-block;
	font-size: 1.3em;
}

.fa-angle-down {
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.fab {
	margin-right: .3em;
	vertical-align: bottom;
}

nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-margin-before: 1em;
	margin-block-start: 1em;
	-webkit-margin-after: 1em;
	margin-block-end: 1em;
}

nav a {
	font-size: .8em;
	margin: .2em;
	padding: 1em;
	border: 1px solid #fff;
	border-radius: .5em;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

nav a:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}

nav a:active {
	opacity: .7;
}


/* IcoMoon icon font styles */
@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?cty8cc');
	src:  url('fonts/icomoon.eot?cty8cc#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?cty8cc') format('truetype'),
		url('fonts/icomoon.woff?cty8cc') format('woff'),
		url('fonts/icomoon.svg?cty8cc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-facebook-square:before {
	content: "\f082";
}
.fa-github-square:before {
	content: "\f092";
}
.fa-angle-up:before {
	content: "\2bc5";
}
.fa-angle-down:before {
	content: "\2bc6";
}
.fa-instagram:before {
	content: "\f16d";
}
