<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<title>{{ site.title }}</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131464775-1"></script>
	<script>
		window.dataLayer = window.dataLayer || []
		function gtag(){dataLayer.push(arguments)}
		gtag('js', new Date())

		gtag('config', 'UA-131464775-1')
	</script>
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Person",
		"name": "John Goodliff",
		"url": "https://johng.io",
		"sameAs" : [
			"https://github.com/jerboa88",
			"https://instagram.com/jerboa88",
			"https://www.facebook.com/jerboa88"
		]
	}
	</script>

	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Montserrat:900">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	{% assign color = site.theme_color | default: '#317b71' %}
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ color }}">
	<meta name="msapplication-navbutton-color" content="{{ color }}">
	<meta name="msapplication-TileColor" content="{{ color }}">
	<meta name="theme-color" content="{{ color }}">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.11.0/rellax.min.js"></script>
</head>
