<nav>
{% if page.instagram_link %}
	<a href="{{ page.instagram_link }}" class="icon-instagram" rel="external" target="_blank"></a>
{% endif %}

{% if page.linkedin_link %}
	<a href="{{ page.linkedin_link }}" class="icon-linkedin-square" rel="external" target="_blank"></a>
{% endif %}

{% if page.github_link %}
	<a href="{{ page.github_link }}" class="icon-github-square" rel="external" target="_blank"></a>
{% endif %}

{% if page.chrome_link %}
	<a href="{{ page.chrome_link }}" class="icon-chrome" rel="external" target="_blank"></a>
{% endif %}

{% if page.firefox_link %}
	<a href="{{ page.firefox_link }}" class="icon-firefox" rel="external" target="_blank"></a>
{% endif %}

{% if page.edge_link %}
	<a href="{{ page.edge_link }}" class="icon-edge" rel="external" target="_blank"></a>
{% endif %}

{% if page.visit_link %}
	<a href="{{ page.visit_link }}" class="icon-globe" rel="external" target="_blank"></a>
{% endif %}
</nav>
