{% if project.hidden != true %}
{% capture projectUrl %}{{ site.baseurl }}{{ project.url | default: '404'}}{% endcapture %}
{% capture backgroundUrl %}{{ site.image_path }}/{{ project.image | default: 'unknown.png' }}{% endcapture %}
<div data-href="{{ projectUrl }}" class="project" style="background-image: url({{ backgroundUrl }})">
	<div class="{{ project.category | default: 'unknown' }}-h">
		<div class="project-header">
			<a class="icon-arrows-alt" href="{{ projectUrl }}"></a>
			<div class="project-type {{ project.category | default: 'unknown' }}"><p>{{ project.type | default: 'Unknown' }}</p></div>
		</div>

		<div class="project-text">
			<h4>{{ project.title | default: '?' }}</h4>
			<a href="{{ projectUrl }}">
				<p>{{ project.description | default: 'No description' }}</p>
			</a>
		</div>
	</div>
</div>
{% endif %}
