.card {
	perspective: 100rem;
}

.overlay {
	background: repeating-linear-gradient(225deg, rgb(0, 0, 0, .5) 0%, transparent 50%, rgb(255, 255, 255, .1) 65%, transparent 80%);
	/* mix-blend-mode: overlay; */
}

.cardBack {
	transform: rotateY(-180deg);
	transition-timing-function: steps(1, end);
}
